<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    
    <plugins>
      <add name="Javascript" type="Generator" path="../libs" />
      <!-- Pour lancer le TU permettant de débug le plugin, changer la ligne permettant de trouver la dll à débuger -->
      <!--<add name="Javascript" type="Generator" path="./"/>-->
    </plugins>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
</configuration>